@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #1681ce;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --color-grey: #eee;
  --color-dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  position: absolute;
  top: 22rem;
  color: var(--white);
  margin: 0 auto;
  font-size: 5rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Start Here */
body {
  background: var(--light-blue);
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pal {
  width: 60rem;
  background: var(--white);
  padding: 5rem 3rem;
  border-radius: 5px;
}

/* .pal > * 
  /* width: 70%; */
/* border: none;
  outline: none; 
*/

input {
  width: 70%;
  border: none;
  outline: none;
  border-bottom: 2px solid var(--color-sec);
  padding: 1rem 5px;
  font-size: 1.6rem;
  transition: all 1s;
}

input:focus {
  border-bottom-color: green;
}
button {
  width: 25%;
  padding: 1rem 5px;
  border: none;
  outline: none;
  border-radius: 3px;
  color: var(--white);
  background: var(--color-primary);
  cursor: pointer;
}

p.result {
  margin-top: 3.5rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  color: var(--color-dark-grey);
}
